.about-section {
  gap: 5em;
  min-height: 100vh;
  padding: 5em 0;
  position: relative;
  max-width: 1500px;
  width: 90%;
  margin: auto;
}
.about-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../../images/about-bg.png");
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.25;
  background-repeat: no-repeat;
  background-position: 0% 50%;
}
.about-img {
  max-width: 600px;
  display: flex;
  justify-content: center;
}
.about-img img {
  width: 90%;
}
.about-title {
  text-transform: capitalize;
  font-style: italic;
  font-size: 2em;
}
.about-section div {
  flex: 1;
}

.about-section p {
  margin: 0.5em 0;
}

@media only screen and (max-width: 900px) {
  .about-section {
    flex-direction: column;
    gap: 2em;
  }

  .about-section::before {
    background-position: 50% 0%;
  }
}
