.button-container {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  width: max-content;
  border: 1px solid #000;
  border-right: 0;
}

.chart button {
  padding: 0.5em 0.8em;
  font-size: 0.9em;
  text-decoration: none;
  background-color: #fefefe;
  color: #1c1b1b;
  border-right: 1px solid #000;
  transition: 0.3s linear;
}

.chart h2 {
  margin: 0;
}

.chart-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
  gap: 1em;
  flex-wrap: wrap;
}

.chart button.active {
  background-color: rgb(188, 188, 188);
}

@media only screen and (max-width: 385px) {
  .chart button {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 345px) {
  .chart button {
    padding: 0.5em 0.6em;
  }
}
