.button-container {
  display: flex;
  overflow: hidden;
  width: max-content;
}

.chart button {
  padding: 0.5em 0.8em;
  font-size: 0.9em;
  text-decoration: none;
  color: #fff;
  border-right: 1px solid gray;
  transition: 0.3s linear;
}

.chart button:last-child {
  border-right: 0;
}

.chart h2 {
  margin: 0;
}

.chart-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
  gap: 1em;
  flex-wrap: wrap;
}

.chart button.active {
  color: rgb(0, 255, 255);
}

@media only screen and (max-width: 400px) {
  .chart button {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 346px) {
  .chart button {
    padding: 0.5em 0.6em;
  }
}
