.coin_info {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em 2em;
}

.coin-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.details_desc-wrapper {
  white-space: pre-wrap;
}

.coin_rank {
  width: max-content;
  padding: 0.5em 1em;
  border-radius: 15px;
  background: rgb(122, 14, 148);
  background: linear-gradient(
    99deg,
    rgba(122, 14, 148, 1) 0%,
    rgba(111, 22, 156, 1) 100%,
    rgba(157, 112, 225, 1) 100%,
    rgba(68, 81, 213, 1) 100%
  );
}

.coin_name {
  margin: 0 0.2em 0 1em;
}

.coin_price {
  font-size: 2em;
}

.coin_price-title {
  color: grey;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 430px) {
  .coin_info {
    padding: 1em;
  }

  .coin-wrapper {
    flex-direction: column;
  }

  .wrapper {
    justify-content: flex-start;
  }
}
