.hero-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../../../images/hero-img.png");
  background-position: 50% 90%;
  background-size: 40%;
  background-repeat: no-repeat;
  position: relative;
}

.hero-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../images/hero-bg.webp");
  z-index: -1;
  opacity: 0.5;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-section:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background: #000;
  -webkit-filter: blur(50px);
  filter: blur(50px);
}

.hero-section h1 {
  font-size: 3em;
}

.hero-section p {
  padding-bottom: 30em;
  margin-top: 1em;
  text-shadow: 5px 5px 15px #000;
  max-width: 1000px;
  text-align: center;
}
