/* Trending */
.trending-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5em 0;
  min-height: 30vh;
  max-width: 2000px;
  margin: auto;
}

.trending-container h3 {
  text-transform: capitalize;
  text-align: center;
  padding: 0 1em;
}

.grey-color {
  color: rgb(99, 98, 98);
}

.coin_rank.trending {
  font-size: 0.8em;
  background: none;
  color: rgb(255, 0, 234);
}

.img-wrapper.trending {
  max-width: 50px;
}

/* Carousel */
.splide__arrow {
  background: #000 !important;
  border-radius: 0 !important;
  height: 3em !important;
}

.splide__track {
  cursor: pointer;
  margin-top: 2em !important;
}

.splide__arrow svg {
  fill: #fff !important;
}

.splide__arrow--prev {
  left: 0 !important;
}
.splide__arrow--next {
  right: 0 !important;
}

.splide__list {
  align-items: flex-end;
}

.splide__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  text-align: center;
  font-size: 0.9em;
}
