.about-coins-section {
  min-height: 80vh;
  gap: 5em;
  padding: 0 0 5em;
  flex-direction: row-reverse;
  position: relative;
}
.about-coins-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../../images/bg-img.png");
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .8;
  background-repeat: no-repeat;
  background-position: 60% 50%;
}

.bitcoin {
  color: #f7931a;
}
.ethereum {
  color: #8890b0;
}
.tether {
  color: #019696;
}

.about-coins-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
  position: relative;
}

.about-coins-wrapper h2 {
  padding: 0 1em;

}

.about-coins-wrapper a {
  background-color: rgb(122, 14, 148);
  border-radius: 0 10px 0 10px;
  padding: 1em;
  transition: .3s linear;
}

.about-coins-wrapper a:hover {
  transform: scale(1.1);
}

.about-coins-section .coin-wrapper {
  width: 90%;
  flex-wrap: wrap;
  max-width: 400px;
}

.about-coins-section .coin-wrapper .coin-row {
  flex: 1 1 100px;
  min-height: 150px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  color: #000;
  font-size: 0.9em;
}

.coin.percentage {
  color: green;
}

@media only screen and (max-width: 1050px) {
  .about-coins-wrapper a,
  .about-coins-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .about-coins-section {
    flex-direction: column;
    gap: 2em;
  }
  .coin-wrapper {
    flex-direction: row;
  }
}
