* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: #fff;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  width: 95vw;
  max-width: 1300px;
  margin: auto;
}

.logo {
  padding: 1em 0 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  pointer-events: none;
}

.logo-color {
  color: rgb(122, 14, 148);
}

.logo svg {
  font-size: 1.5em;
}

.error {
  text-align: center;
}

@media only screen and (max-width: 450px) {
  .logo {
    font-size: 1.2em;
  }
}