.crypto-news ul {
  background-color: #090909;
  border-radius: 10px;
  padding: 1em 1em 0.3em;
}
.crypto-news li {
  border-bottom: 1px solid #727171;
  margin-bottom: 0.5em;
  padding: 0.5em 0 0;
}
.crypto-news li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

.crypto-news .hours {
  position: static;
}

@media only screen and (max-width: 650px) {
  .crypto-news-container {
    flex-direction: column;
  }
}
